body {
  background-color: rgb(243, 236, 236);
  display: flex;
}
#app {
  display: flex;
  width: 100%;
}

#app div {
  flex-grow: 1;
  background-color: white;
  margin: 5px;
}
#meals {
  margin-left: 0px;
}
#orders {
  margin-right: 0px;
}
ul {
  list-style-type: none;
}
#submit,
#submitE {
  background-color: #5d9fbb;
  color: white;
  padding: 10px 15px;
  border: solid 0px;
  border-radius: 25px;
  margin: 15px;
  margin-left: 40px;
}
#submit:disabled,
#submitE:disabled {
  background-color: #ccc;
}

#meals-list li {
  cursor: pointer;
}
#orders-list {
  cursor: pointer;
}
.selected {
  background-color: #eee;
}

#app .form-main {
  margin: 0 auto;
  max-width: 300px;
  margin-top: 100px;
  padding: 10px;
  padding-bottom: 20px;
}
.login-form p {
  margin-bottom: 2px;
  font-size: 13px;
}
form input {
  width: calc(100% - 5px);
  height: 24px;
  background-color: #dedede;
  border: solid 0;
  border-radius: 2px;
  color: #555;
}
.btn {
  width: 100%;
  font-size: 16px;
  border: solid 0;
  padding: 8px 15px;
  background-color: #2280cc;
  color: white;
  border-radius: 2px;
  margin-top: 10px;
  border-radius: 2px;
}
.form-title {
  text-align: center;
  font-size: 24px;
}
